html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    margin: 0px;
}
/* creates the background color for the site */
.mainHeader{
    z-index: 10;
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    font-family: 'Courier New', monospace;
    display: relative;
}
/* the actual header text */
.headerButton{
    background-color: rgb(12, 12, 12, 0.7);
    padding: 15px 50px;
    color: white;
    text-align: center;
    align-items: center;
    display: inline-block;
    border: none;
    display: flex table;
    font-size: 15px;
    margin-top: 30px;
    
    /* how all the buttons in the header will look */
}
.mainheaderDiv{
    background-color:rgb(17, 17, 17,0.5);
    border: none;
    outline: none;
    font-size: 0;
    position:fixed;
    align-content: center;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
    z-index: 10;
    
    /* 'top part' as in the header of the site */
}
button:hover{
    cursor: pointer;
    transition-duration: 0.2s;
    background-color: rgb(3, 0, 12);
}
/* hover over button function */
#aboutButton{
    float: right;
}
/* the About button on the right */
.hellcatImage{
    width: 100%;
}
.SpecDivLeft{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', monospace;
    margin-left: 80px;
    margin-bottom: 0px;
}
.SpecDivRight{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', monospace;
    position: relative;
    left: 17%;
    top: 230px;
    max-width: 80%;
    
}
.HellcatEngineBay{
    width: 55%;
    height: 45%;
    position: relative;
    left: 34%;
    bottom: 230px;
}
.HellcatEngineBayDiv{
    max-height: 100%;
    max-width: 100%;
}
.TransmissionImg{
    position: relative;
    left: 10%;
    bottom: 560px;
}
.TransmissionImgDiv{
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
    position: relative;
    top: 100px;
}
.Interior{
    width: 100%
}
.FeaturesDiv{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', monospace;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 400px;
}
.AboutSection{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', monospace;
    text-align: center;
    opacity: 90%;
}
.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    max-height: 150px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', monospace;
    color: #ffffff;
    display: block;
    opacity: 100%;
}
.sidenav a:hover {
    color: #cccccc;
  }