body{
    background-color: black;
    margin: 0px;
    scroll-behavior: smooth;
}
/* creates the background color for the site */
.mainHeader{
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    font-family: 'Courier New', monospace;
    display: relative;
}
/* the actual header text */
.headerButton{
    background-color: rgb(12, 12, 12, 0.7);
    padding: 15px 50px;
    color: white;
    text-align: center;
    align-items: center;
    display: inline-block;
    border: none;
    display: flex table;
    font-size: 15px;
    margin-top: 30px;
    
    /* how all the buttons in the header will look */
}
.mainheaderDiv{
    background-color:rgb(17, 17, 17,0.5);
    border: none;
    outline: none;
    font-size: 0;
    position:fixed;
    align-content: center;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
    
    /* 'top part' as in the header of the site */
}
button:hover{
    cursor: pointer;
    transition-duration: 0.2s;
    background-color: rgb(3, 0, 12);
}
/* hover over button function */
#aboutButton{
    float: right;
}
/* the About button on the right */
.hellcatImage{
    width: 100%;
}
.SpecDivLeft{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', monospace;
    margin-left: 30px;
    margin-bottom: 0px;
}
.SpecDivRight{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', monospace;
    margin-left: 60%;
    margin-bottom: 300px;
}
.HellcatEngineBay{
    height: 400px;
    width: 500px;
    position:relative;
    left: 50%;
    top: 100%;
}